#ingore Directory postgresDB
Dockers/postgresDB/postgres-data
Dockers/maps/*.pbf
Dockers/maps/*/*.txt
.DS_Store
Dockers/scripts/tools/*
Dockers/scripts/*.zip
Dockers/virtuoso_data/*
.vscode
.DS_Store
