version: "3.8"

# creo una sola immagine per entrambi i nodi (base_node_image) basata sul Dockerfile
name: kg-open-street-map
services:
  postgres:
          image: postgres
          restart: always
          environment:
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=admin
          logging:
            options:
              max-size: 10m
              max-file: "3"
          ports:
            - '5432:5432'
          volumes: 
            - ./postgresDB/postgres-data:/var/lib/postgresql/data:rw